{% extends "admin/base_site.html" %}

{% block content %}
        <meta charset="utf-8">

        <body>
        <h1>Sample Image Admin Upload Tool</h1>
        {% if warn_multiple %}
        <p>Warning: you are currently setting an image for multiple samples at once.</p>
        
        <p>Please select an image for samples {{ids}}. JPEG format is preferable.</p>
        
        {% else %}

        <p>Please select an image for sample {{ids}}.</p>

        {% endif %}



        <form action="{% url 'admin_upload_image' ids=ids %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.file }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>

{% endblock %}