<style>
    text {
        font: 12px "Fira Mono";
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #BBBBBB;
        shape-rendering: crispEdges;
    }

    .verticalLine, .locator {
        pointer-events: none;
    }

</style>

{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <title>Graph - WWU VNIRSD</title>

    <link rel="stylesheet" href="{% static 'css/nouislider.css' %}">

    <body onresize="redraw();">
    {% csrf_token %}

    {% if graphResults %}
        <div style="margin-left: 40px; margin-right: 40px">
            <div class="card " style="background:#e3e7e9">
                <div class="container">
                    <div class="row"
                         style="margin-bottom: 0; margin-left:0; margin-right: 0;">
                        <div class="col s11">
                            <div class="chart-container" id="graphJtron"
                                 style="left: 4%;position:relative;"></div>
                        </div>
                        <div class="col s1" style="left:3%;position:relative;">
                            <div class="slider" id="y-slider"
                                 style="padding-left: 0; margin-left: 10px; margin-top: 20px">
                            </div>
                        </div>
                    </div>
                    <div class="slider" id="x-slider"
                         style="margin-left: 13%; margin-bottom: 2%; width: 75%;">
                    </div>
                    <div class="row" style="margin-bottom: 5px">
                        <div class="col" id="window"
                             style="font-size: 16pt; font-weight: bold; width:12%; margin-left: 3%; margin-top: 2px; border-right: thick solid #1c2023;">
                            Graph<br>Window
                        </div>
                        <div class="col"
                             style="font-size: 12pt;font-weight: bold; width: 11%; margin-top: 3px;">
                            Nanometers
                        </div>
                        <div class="col"
                             style="width:13%; text-align:center; margin-top: 3px;">
                            <label for="max-x-input"></label>
                            <input id="max-x-input" step="20" type="number"/>

                            <label for="min-x-input"></label>
                            <input id="min-x-input" step="20" type="number"
                                   style="margin-bottom: 10px"/>
                        </div>
                        <div class="col"
                             style="font-size: 12pt;font-weight: bold; width: 12%; margin-top: 3px;">
                            Reflectance
                        </div>
                        <div class="col"
                             style="width:13%; text-align:center; padding:0; margin-top:3px; ">
                            <label for="max-y-input"></label>
                            <input id="max-y-input" step=".01"
                                   type="number"/>

                            <label for="min-y-input"></label>
                            <input id="min-y-input" step=".01" type="number"
                                   style="margin-bottom: 10px"/>
                        </div>
                        <div class="col s1" style="width: 12%">
                            <div class="button" style="height:55px">
                                <a class="btn redButton graphButton"
                                   style="height:63px; line-height:30px;"
                                   onclick="resetZoom()">Reset<br>Window</a>
                            </div>
                        </div>
                        <div class="col s1" style="width:20%">
                            <div class="button" style="height:35px">
                                <a class="btn graphButton" id="shrink-button"
                                   onclick="shrinkGraph()">Shrink Graph</a>
                            </div>
                            <div class="button" style="height:35px;">
                                <a class="btn graphButton" id="control-button"
                                   onclick="toggleControls()">Controls</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="control-panel"
                     style="border-top: thin solid gray; display:none">
                    <div class="row"
                         style="margin-top: 15px; margin-bottom: 5px">
                        <div class="col" id="line-control-div"
                             style=" font-size: 12pt; font-weight: bold; width:25%; margin-left: 2%; margin-top: 2px; text-align:center">
                            Line Controls
                            <div class="row"
                                 style="font-weight: 100; margin-top:15px; margin-bottom:5px; text-align:left">
                                <div class="switch"
                                     style="margin-top: 8px; margin-bottom:5px">
                                    <label>
                                        <input id="vertical-line-switch"
                                               checked="checked"
                                               type="checkbox">
                                        <span class="lever"></span>
                                        Vertical Line Follows Mouse
                                    </label>
                                </div>
                                <div class="switch" style="margin-bottom:17px">
                                    <label>
                                        <input id="drop-switch"
                                               type="checkbox">
                                        <span class="lever"></span>
                                        Clicking Affixes Vertical Lines
                                    </label>
                                </div>


                                <div class="button"
                                     style="height:30px; margin-left:25%; margin-bottom:5px">
                                    <a class="btn redButton graphButton"
                                       style="height:30px; margin-bottom:0"
                                       onclick="eraseVerts()">Erase Lines
                                    </a>
                                </div>
                            </div>
                            <form style="margin-bottom: 5px">
                                <p style="text-align:center">Simulation Options
                                <p>
                                    <label for="filter-picker"></label><select
                                        id="filter-picker"
                                        style="display:block; font-weight:normal;font-size:10pt">
                                    {% for filterset in filtersets %}
                                        <option value= {{ filterset }}>{{ filterset }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                        <div class="col" id="line-toggle-div"
                             style="font-size: 12pt; font-weight: bold; width:25%; margin-left: 3%; margin-top: 2px; text-align:center">
                            Visibility Controls
                            <div class="row"
                                 style="font-weight: 100; margin-top:5px; margin-bottom:0; text-align:left">
                                <div class="switch" style="margin-bottom:9px">
                                    <label>
                                        <input id="point-switch"
                                               type="checkbox"
                                               onclick="updateDataVisibility()">
                                        <span class="lever"></span>
                                        Lab Points
                                    </label>
                                </div>
                                <div class="switch" style="margin-bottom:9px">
                                    <label>
                                        <input id="instrument-point-switch"
                                               type="checkbox"
                                               onclick="updateDataVisibility()">
                                        <span class="lever"></span>
                                        Instrumentalized Points
                                    </label>
                                </div>
                                <div class="switch" style="margin-bottom:9px">
                                    <label>
                                        <input id="line-switch"
                                               checked="checked"
                                               type="checkbox"
                                               onclick="updateDataVisibility()">
                                        <span class="lever"></span>
                                        Lab Lines
                                    </label>
                                </div>
                                <div class="switch" style="margin-bottom:9px">
                                    <label>
                                        <input id="instrument-line-switch"
                                               type="checkbox"
                                               onclick="updateDataVisibility()">
                                        <span class="lever"></span>
                                        Instrumentalized Lines
                                    </label>
                                </div>
                            </div>
                            Normalization Controls
                            <div class="row"
                                 style="font-weight: 100; margin-top:5px; margin-bottom: 5px; text-align:left">
                                <div class="switch" style="margin-bottom:9px">
                                    <label>
                                        <input id="normal-switch"
                                               type="checkbox"
                                               onclick="normalizeSpectra()">
                                        <span class="lever"></span>
                                        Auto
                                    </label>
                                </div>
                                <div class="switch" style="margin-bottom:9px">
                                    <label>
                                        <input id="wavenormal-switch"
                                               type="checkbox"
                                               onclick="waveNormalizeSpectra()">
                                        <span class="lever"></span>
                                        Wavelength
                                        <input id="wavenormal-wavelength-input" step="20" type="number"
                                            style="max-width:30%">
                                    </label>
{#                                <div class="col" id="arm-div"#}
{#                                     style="display:none; max-width:25rem; text-align:center; margin-top: 3px;">#}
{#                                    <label>#}
{##}
{#                                    </label>#}
                                </div>
                            </div>
                        </div>
                        <div class="col" id="calc-control-div"
                             style=" font-size: 12pt; font-weight: bold; max-width:40%; margin-left: 3%; margin-top: 2px; text-align:center">
                            Click to Calculate
                            <div class="row"
                                 style="font-weight: 100; margin-top:5px; text-align:left">
                                <div class="col" style="max-width: 10rem;">
                                    <input name="calc-mode" type="radio"
                                           id="no-calc" checked="checked"
                                           onclick="updateCalc(this)">
                                    <label for="no-calc"
                                           style="margin-bottom:10px">Nothing </label>
                                    <input name="calc-mode" type="radio"
                                           id="slope-calc"
                                           onclick="updateCalc(this)"/>
                                    <label for="slope-calc">Slope</label>
                                </div>
                                <div class="col" style="max-width:17rem;">
                                    <input name="calc-mode" type="radio"
                                           id="band-min-calc"
                                           onclick="updateCalc(this)"/>
                                    <label for="band-min-calc"
                                           style="margin-bottom:10px">Band
                                        Depth (minima)</label>
                                    <input name="calc-mode" type="radio"
                                           id="band-custom-calc"
                                           onclick="updateCalc(this)">
                                    <label for="band-custom-calc"
                                           style="margin-bottom:10px">Band
                                        Depth (selected)</label>
                                    <input name="calc-mode" type="radio"
                                           id="ratio-calc"
                                           onclick="updateCalc(this)">
                                    <label for="ratio-calc">Ratio</label>
                                </div>
                                <div class="switch"
                                     id="calc-all-div">
                                    <label for="calc-all-switch">
                                        <input id="calc-all-switch"
                                               type="checkbox"
                                               onclick="updateMaxCalc()">
                                        <span class="lever"></span>
                                        calculate on all spectra
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="graph results"
                       style="width:85%; margin-left:2%">
                    <thead>
                    <tr style="height:25px">
                        <th style="flex-grow:0.2; padding-top:5px">
                            <label>Line</label></th>
                        <th style="flex-grow:0.2; padding-top:5px">
                            <label>Color</label></th>
                        <th style="padding-top:5px"><label>ID</label></th>
                        <th style="padding-top:5px"><label>Name</label></th>
                        <th style="padding-top:5px"><label>Origin</label></th>
                        <th style="padding-top:5px"><label>Offset</label></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in graphResults %}
                        <tr>
                            <td style="flex-grow:0.2">
                                <div style="position: relative">
                                    <input type="checkbox" checked="checked"
                                           name="selection"
                                           id="option{{ result.id }}"
                                           value={{ result.id }}""
                                           onclick="toggleSpectrum(this,{{ forloop.counter0 }});"/>
                                    <label for="option{{ result.id }}"></label>
                                </div>
                            </td>
                            <td>
                                <div id="rect-{{ result.id }}"
                                     style="border:1px solid gray; width:15px; height:15px; flex-grow:0.2">
                                </div>
                            </td>

                            <td><label class="truncate"
                                       for="option{{ result.id }}">{{ result.sample_id }}</label>
                            </td>
                            <td><label class="truncate"
                                       for="option{{ result.id }}"> {{ result.sample_name | title }} </label>
                            </td>
                            <td><label class="truncate"
                                       for="option{{ result.id }}"> {{ result.origin }} </label>
                            </td>
                            <td>
                                <label for="offset-dialog{{ result.id }}">
                                    <input id="offset-dialog{{ result.id }}"
                                           step=".02" type="number" value="0">
                                </label>
                            </td>


                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <form id="resultsForm" method="GET" name="resultsform">
                    <div class="section center-align">
                        <button type="submit" name="search"
                                formaction="/"
                                class="btn btn-success">Back to Search
                        </button>
                        <button type="submit" name="resultsform"
                                formaction="/mars/results/"
                                class="btn btn-success">Results
                        </button>
                        <button type="submit" name="export"
                                formaction="/mars/export/"
                                class="btn btn-success">Export
                        </button>
                        <button type="submit" name="meta"
                                formaction="/mars/meta/"
                                class="btn btn-success">View Metadata
                        </button>
                        <br>
                    </div>
                    {% for id in selected_ids %}
                        <input type="hidden" name="selection"
                               value="{{ id }}"/>
                    {% endfor %}


                    <!--- holding search form data --->
                    <div style="display:None">
                        {{ search_formset }}
                    </div>


                </form>
            </div>
        </div>

        <script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
        <script src="{% static 'js/materialize.min.js' %}"></script>
        <script src="{% static 'js/vendor/d3.js' %}"></script>
        {#        <script src="{% static 'js/d3.v3.min.js' %}"></script>#}
        <script src="{% static 'js/tinycolor.js' %}"></script>
        <script src="{% static 'js/nouislider.js' %}"></script>

        <script>

            const toggleControls = function () {
                const foldout = document.getElementById("control-panel");
                if (foldout.style.display === "block") {
                    foldout.style.display = "none";
                    document.getElementById("control-button").innerHTML = "Controls"
                } else {
                    foldout.style.display = "block";
                    document.getElementById("control-button").innerHTML = "Controls";
                }
            };

        </script>
        <script>
            {# note the argument of parse actually gets rendered by the template engine #}
            {# so this line must be contained in this file #}
            const graph = JSON.parse('{{graphJSON|safe | escapejs}}');
        </script>
        <script src="{% static 'js/wNumb.js' %}"></script>
        <script src="{% static 'js/vnirsd_graph.js' %}"></script>

    {% else %}
        <div id="meta" class="container section">
            <div class="card-panel center-align"
                 style="background:rgba(255,255,255,.8)">
                <form id="resultsForm" method="GET" name="resultsform">
                    <div class="section center-align">
                        <button type="submit" name="resultsForm"
                                formaction="/mars/results/"
                                class="btn btn-success">Back to Results
                        </button>
                    </div>

                </form>
            </div>
        </div>

    {% endif %}

    </body>

{% endblock %}