{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
    <title>About - WWU VISOR</title>
    <style>
    h4, h5 {
        margin-top: 3rem
    }
    </style>
    <div class="container section">
        <div class="col warm-content body-text-holder">
            <h4 style="margin-top: 0">About the WWU VISOR</h4>
            <p>The Western Washington University Visible-Infrared Spectral Browser
                (VISOR) is an online tool for searching, graphing,
                and downloading publicly-available laboratory spectra. We
                have developed this tool to aid in our research group's
                analyses of hyper- and multi-spectral imaging data of
                planetary surfaces, and to share laboratory data acquired
                at WWU. We hope that this web tool
                will be a useful resource for other planetary researchers
                and the larger scientific community.</p>
            <p>We want to hear from you if you have spectra
               to contribute or if you have ideas about how we can make
               the site more useful.</p>
            <p>The VISOR software is distributed under the permissive BSD
                3-Clause license. You can find it
                <a href="https://github.com/millionConcepts/wwu_spec">on GitHub.</a>
            </p>
            <p>Want to contribute spectra? Contact melissa.rice@wwu.edu.</p>
            <p>You can send bug reports by emailing
                mstclair@millionconcepts.com or filing GitHub issues.</p>
            <h5>Attribution</h5>
            <p> VISOR was created by:</p>
            <ul>Michael St. Clair and Chase Million-- software development
                and UX design
            </ul>
            <ul>Melissa Rice -- research and requirements design</ul>
            <ul>Sabrina Curtis -- metadata design and ETL stack</ul>
            <ul>Sierra Brown -- IT stack</ul>
            <p> VISOR is based on an older tool developed by Kyle Mellander
                with significant input from Darian Dixon and students in the
                WWU Mars Lab.
            </p>
            <p>If you use this database in your research, please cite the
                sources of spectra
                used. We would also appreciate that you acknowledge your use of
                the Western Washington University Visible-Infrared Spectral
                Browser, including
                <a href="https://zenodo.org/records/6604833">its DOI</a> and a
                link to this page.
            </p>
            <p>Individual spectra in the database are sourced from the data
                providers listed in the metadata of each spectrum and
                summarized below.
            </p>
            <br>
            <h5>Data Sources</h5>
            {% for database in databases %}
                <p><a href={{ database.url }}>{{ database.name }}</a></p>
                {% if not forloop.last %}
                    <div class="divider"></div>
                {% endif %}
            {% endfor %}
            <h5>Instrument Filter Citations</h5>
            {% for filterset in filtersets %}
                <p><a href={{ filterset.url }}>{{ filterset.name }}</a></p>
                {% if not forloop.last %}
                    <div class="divider"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
