<style>
    text {
        font: 12px "Fira Mono";
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #BBBBBB;
        shape-rendering: crispEdges;
    }

    .verticalLine, .locator {
        pointer-events: none;
    }

</style>

{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <title>Graph - VISOR</title>

    <link rel="stylesheet" href="{% static 'css/nouislider.css' %}">

    <body onresize="redraw();">

    {% if graphResults %}
        <div style="margin-left: 40px; margin-right: 40px">
            <div class="card " style="background:#e3e7e9">
                <div class="container" style="max-width:90vw">
                    <div class="row"
                         style="margin-bottom: 0; margin-left:0; margin-right: 0;">
                        <div class="col s11">
                            <div class="chart-container" id="graphJtron"
                                 style="left: 4%;position:relative;"></div>
                        </div>
                        <div class="col s1" style="left:3%;position:relative;">
                            <div class="slider" id="y-slider"
                                 style="padding-left: 0; margin-left: 10px; margin-top: 20px">
                            </div>
                        </div>
                    </div>
                    <div class="slider" id="x-slider"
                         style="margin-left: 13%; margin-bottom: 2%; width: 75%;">
                    </div>
                    <div class="row" style="margin-bottom: 5px">
                        <div class="col" id="window"
                             style="font-size: 16pt; font-weight: bold; width:12%; margin-left: 3%; margin-top: 2px; border-right: thick solid #1c2023;">
                            Graph<br>Window
                        </div>
                        <div class="col"
                             style="width: 11%; margin-top: 3px;">
                            <span class="control-header">Nanometers</span>
                        </div>
                        <div class="col"
                             style="width:13%; text-align:center; margin-top: 3px;">
                            <label for="min-x-input"></label>
                            <input id="min-x-input" step="20" type="number" class="graph-number-input"/>

                            <label for="max-x-input"></label>
                            <input id="max-x-input" step="20" type="number" class="graph-number-input"
                                   style="margin-bottom: 10px"/>
                        </div>
                        <div class="col"
                             style="width: 12%; margin-top: 3px;">
                            <span class="control-header">Reflectance</span>
                        </div>
                        <div class="col"
                             style="width:13%; text-align:center; padding:0; margin-top:3px; ">
                            <label for="min-y-input"></label>
                            <input id="min-y-input" step=".01" class="graph-number-input"
                                   type="number"/>

                            <label for="max-y-input"></label>
                            <input id="max-y-input" step=".01" type="number" class="graph-number-input"
                                   style="margin-bottom: 10px"/>
                        </div>
                        <div class="col s1" style="width: 12%">
                            <div class="button" style="height:55px">
                                <a class="btn redButton graphButton"
                                   style="height:63px; line-height:30px;"
                                   onclick="resetZoom()">Reset<br>Window</a>
                            </div>
                        </div>
                        <div class="col s1" style="width:20%">
                            <div class="button" style="height:35px">
                                <a class="btn graphButton" id="shrink-button"
                                   onclick="shrinkGraph()">Shrink Graph</a>
                            </div>
                            <div class="button" style="height:35px;">
                                <a class="btn graphButton" id="control-button"
                                   onclick="toggleControls()">Controls</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="control-panel" class="controls" style="display:none">
                    <div class="flex-buffer" style="flex-basis:8vw"></div>
                    <div class="control-section" id="control-section-1">
                        <div class="control-block" id="vert-control-div">
                            <span class="control-header">Vertical Lines</span>
                            <div>
                                <div class="switch">
                                    <label>
                                        <input id="vertical-line-switch"
                                               checked="checked"
                                               type="checkbox">
                                        <span class="lever"></span>
                                        Line Follows Mouse
                                    </label>
                                </div>
                                <div class="switch">
                                    <label>
                                        <input id="drop-switch"
                                               type="checkbox">
                                        <span class="lever"></span>
                                        Clicks Drop Lines
                                    </label>
                                </div>
                            </div>
                            <div class="button"
                                 style="height:1.9rem; margin-top:0.4rem; align-self: center">
                                <a class="btn redButton graphButton"
                                   style="height:1.9rem"
                                   onclick="eraseVerts()">Erase Lines
                                </a>
                            </div>
                        </div>
                        <div class="control-block" id="norm-control-block">
                            <span class="control-header">Normalization</span>
                            <div class="switch">
                                <label>
                                    <input id="normal-switch"
                                           type="checkbox"
                                           onclick="normalizeSpectra()">
                                    <span class="lever"></span>
                                    Auto
                                </label>
                            </div>
                            <div class="switch">
                                <label>
                                    <input id="wavenormal-switch"
                                           type="checkbox"
                                           onclick="waveNormalizeSpectra()">
                                    <span class="lever"></span>
                                    Wavelength
                                    <label>
                                        <input id="wavenormal-wavelength-input"
                                               step="20" type="number" class="graph-number-input"
                                               style="width:5rem">
                                    </label>
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="control-section" id="lab-inst-controls"
                         style="flex-grow:0.6">
                        <div class="control-block" id="lab-toggle-div">
                            <span class="control-header">Spectrum Display</span>
                            <div class="switch">
                                <label>
                                    <input id="line-switch"
                                           checked="checked"
                                           type="checkbox"
                                           onclick="updateDataVisibility()">
                                    <span class="lever"></span>
                                    Show Lines
                                </label>
                            </div>
                            <div class="switch">
                                <label>
                                    <input id="point-switch"
                                           type="checkbox"
                                           onclick="updateDataVisibility()">
                                    <span class="lever"></span>
                                    Show Points
                                </label>
                            </div>

                        </div>
                        <div class="control-block" id="inst-control-div">
                            <span class="control-header">Simulation Options</span>
                            <form>
                                <label>
                                    <select id="filter-picker" onchange="updateDataVisibility()">
                                        {% for filterset in filtersets %}
                                            <option value="{{ filterset }}">{{ filterset }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </form>
                            <div class="switch">
                                <label>
                                    <input id="instrument-line-switch"
                                           type="checkbox"
                                           onclick="updateDataVisibility()">
                                    <span class="lever"></span>
                                    Show Lines
                                </label>
                            </div>
                            <div class="switch">
                                <label>
                                    <input id="instrument-point-switch"
                                           type="checkbox"
                                           onclick="updateDataVisibility()">
                                    <span class="lever"></span>
                                    Show Points
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="control-section" id="calc-control-section">
                        <span class="control-header">Click to Calculate</span>
                        <div style="text-align:left">
                            <div class="control-block">
                                <label for="no-calc">
                                <input name="calc-mode" type="radio"
                                       id="no-calc" checked="checked"
                                       onclick="updateCalc(this)">
                                    <span>Nothing </span>
                                </label>
                                <label for="slope-calc">
                                <input name="calc-mode" type="radio"
                                       id="slope-calc"
                                       onclick="updateCalc(this)"/>
                                <span>Slope </span>

                                </label>
                                <label for="band-min-calc">

                                <input name="calc-mode" type="radio"
                                       id="band-min-calc"
                                       onclick="updateCalc(this)"/>
                                <span>Band Depth (minima)</span>
                                </label>
                                <label for="band-custom-calc">
                                <input name="calc-mode" type="radio"
                                       id="band-custom-calc"
                                       onclick="updateCalc(this)">
                                <span>Band Depth (selected)</span>
                                </label>
                                <label for="ratio-calc">
                                <input name="calc-mode" type="radio"
                                       id="ratio-calc"
                                       onclick="updateCalc(this)">
                                <span>Ratio</span>
                                </label>
                                <div class="switch"
                                     id="calc-all-div">
                                    <label for="calc-all-switch">
                                        <input id="calc-all-switch"
                                               type="checkbox"
                                               onclick="updateMaxCalc()">
                                        <span class="lever"
                                              style="margin-left:0; margin-right:0"></span>
                                        calculate on all spectra
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-buffer" style="flex-basis:4vw"></div>
                </div>


                <div class="row" style="height:fit-content">
                    <div class="col s1" style="flex-shrink:1">
                    </div>
                    <div class="col s10">
                        <table class="graph-legend">
                            <thead>
                            <tr style="height:2rem">
                                <th class="graph-column">
                                    <label>
                                        <input type="checkbox" 
                                            id="toggle-all-lines" 
                                            checked="checked"
                                            onclick="toggleAllSpectra(this)"/>
                                    <span>Line</span></label></th>
                                <th class="graph-column">
                                    <label>Color</label></th>
                                <th><label>Name</label></th>
                                <th><label>Spectrum ID</label></th>
                                <th><label>Origin</label></th>
                                <th><label>Sample Type</label></th>
                                <th><label>Grain Size (um)</label></th>
                                <th><label>Viewing Geometry</label></th>
                                <th><label>Offset</label></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for result in graphResults %}
                                <tr>
                                    <td class="graph-column">
                                        <div>
                                            <label for="option{{ result.id }}">
                                                <input type="checkbox"
                                                       checked="checked"
                                                       name="main-selection"
                                                       id="option{{ result.id }}"
                                                       value={{ result.id }}
                                                       onclick="toggleSpectrum(this,{{ forloop.counter0 }});"/>
                                                <span></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="graph-column">
                                        <div id="rect-{{ result.id }}"
                                             style="border:1px solid gray; width:15px; height:15px">
                                        </div>
                                    </td>
                                    <td><label class="truncate"
                                               for="option{{ result.id }}"> {{ result.sample_name | title }} </label>
                                    </td>
                                    <td><label class="truncate"
                                               for="option{{ result.id }}">{{ result.sample_id }}</label>
                                    </td>
                                    <td><label class="truncate"
                                               for="option{{ result.id }}"> {{ result.origin.name }} </label>
                                    </td>
                                    <td><label class="truncate"
                                               for="option{{ result.id }}"> {{ result.sample_type.first }} </label>
                                    </td>
                                    <td><label class="truncate"
                                               for="option{{ result.id }}"> {{ result.grain_size }} </label>
                                    </td>
                                    <td><label class="truncate"
                                               for="option{{ result.id }}"> {{ result.view_geom }} </label>
                                    </td>

                                    <td>
                                        <label for="offset-dialog{{ result.id }}">
                                            <input id="offset-dialog{{ result.id }}"
                                                   step=".02" type="number" class = "graph-number-input"
                                                   value="0">
                                        </label>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col s1">
                    </div>
                </div>
                <form id="resultsForm" method="GET" name="results" class="results-form">
                    <div class="section center-align">
                        <button type="submit" name="search"
                                formaction="/"
                                class="btn btn-success">Back to Search
                        </button>
                        <button type="submit" name="results"
                                formaction="/visor/results/"
                                class="btn btn-success">Results
                        </button>
                        <button type="submit" name="export"
                                formaction="/visor/export/"
                                class="btn btn-success">Export
                        </button>
                        <button type="submit" name="meta"
                                formaction="/visor/meta/"
                                class="btn btn-success">View Metadata
                        </button>
                        <button type="button" class = "btn btn-success"
                                onclick="pickUpSelected()">Pick Up
                        </button>
                        <br>
                    </div>
                    {% for id in selected_ids %}
                        <input type="hidden" name="selection"
                               value="{{ id }}"/>
                    {% endfor %}
                    <input type="hidden" id="sim-instrument-for-export"
                           name="sim-instrument-for-export" value="MASTCAM-Z">
                    <input type="hidden" id="do-we-export-sim" name="do-we-export-sim" value="False">
                    <input type="hidden" id="hide-this-spectrum"
                           name="hide-this-spectrum" value="">
                    <!--- holding search form data --->
                    <div style="display:None">
                        {{ search_formset }}
                    </div>
                <input type="hidden" name="inventory-record" value="">
                </form>
            </div>
        </div>

        <script src="{% static 'js/vendor/d3.min.js' %}"></script>
        <script src="{% static 'js/vendor/nouislider.js' %}"></script>
        <script src="{% static 'js/vendor/wNumb.js' %}"></script>

        <script>
            const toggleControls = function () {
                const foldout = document.getElementById("control-panel");
                if (foldout.style.display === "flex") {
                    foldout.style.display = "none";
                    document.getElementById("control-button").innerHTML = "Controls"
                } else {
                    foldout.style.display = "flex";
                    document.getElementById("control-button").innerHTML = "Controls";
                }
            };
        </script>
        <script>
            {# note that the argument of parse is filled from db by django template engine #}
            {# so this line of script must be in this template file #}
            const graph = JSON.parse('{{sample_json|safe | escapejs}}');
        </script>
        <script src="{% static 'js/visor_graph.js' %}"></script>

    {% else %}
        <div id="meta" class="container section">
            <div class="card-panel center-align"
                 style="background:rgba(255,255,255,.8)">
                <form id="resultsForm" method="GET" name="results" class="results-form">
                    <div class="section center-align">
                        <button type="submit" name="results"
                                formaction="/visor/results/"
                                class="btn btn-success">Back to Results
                        </button>
                    </div>
                <input type="hidden" name="inventory-record" value="">
                </form>
            </div>
        </div>

    {% endif %}

    </body>

{% endblock %}