{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
    <title>Search - VISOR</title>
    <div class="container section" id="content"
         style="width: 70%; max-width:1000px">
        <form method="GET" class="warm-content" action="/visor/results/">
            {{ search_formset.management_form }}
            {% for search_form in search_formset.forms %}
                <div class="center warm-content form-header search-form-section">
                <span class="head">
                  Western Washington University Visible-Infrared Spectral Browser
                </span>
                </div>
                <div class="warm-content search-form-section">
                <div class="container">
                <div class="row" style="padding: 20px">
                    <div class="input-field col s6 active">
                        <label class = "active" for = {{ search_form.any_field.auto_id }}>
                            {{ search_form.any_field.label }}
                        </label>
                        {{ search_form.any_field }}
                    </div>
                    <div class="input-field col s6 active">
                        <label class="active" for={{ search_form.sample_name.auto_id }}>
                                {{ search_form.sample_name.label }}
                        </label>
                        {{ search_form.sample_name }}
                    </div>
                    <div class="input-field col s12 m6 active">
                        <label class="active" for={{ search_form.library.auto_id }}>
                                {{ search_form.library.label }}
                        </label>
                        {{ search_form.library }}
                    </div>
                    <div class="input-field col s12 m6 active">
                        <label class="active" for={{ search_form.sample_type__name.auto_id }}>
                                {{ search_form.sample_type__name.label }}
                        </label>
                        {{ search_form.sample_type__name }}
                    </div>
                    <div class="input-field col s12 m6 active">
                        <label class = "active" for = {{ search_form.origin__name.auto_id }}>
                            {{ search_form.origin__name.label }}
                        </label>
                        {{ search_form.origin__name }}</div>
                <div class="input-field col s6 active">
                         <label class = "active" for = {{ search_form.wavelength_range.auto_id }}>
                            {{ search_form.wavelength_range.label }}
                        </label>
                        {{ search_form.wavelength_range }}
                </div>
                <div class="input-field col s6 active">
                         <label class = "active" for = {{ search_form.size_strings.auto_id }}>
                            {{ search_form.size_strings.label }}
                        </label>
                        {{ search_form.size_strings }}
                </div>
                <div class="input-field col s3 active">
                         <label class = "active" for = {{ search_form.size_min.auto_id }}>
                            {{ search_form.size_min.label }}
                        </label>
                        {{ search_form.size_min }}
                </div>
                <div class="input-field col s3 active">
                         <label class = "active" for = {{ search_form.size_max.auto_id }}>
                            {{ search_form.size_max.label }}
                        </label>
                        {{ search_form.size_max }}
                </div>

            </div>

            {% endfor %}
            </div>
            </div>
            <div class="warm-content">
                <div class="center-align" style="padding:20px">
                    <button type="submit" name="action" value="search"
                            class="btn">
                        Search
                    </button>
                </div>
            </div>
            <input type="hidden" name="inventory-record" value="">
        </form>



<script src="{% static 'js/vendor/materialize.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const selectors = document.querySelectorAll('select')
        const instances = M.FormSelect.init(selectors)
    });
</script>
{% endblock %}