*scratch*
.idea
__pycache__
secret*
settings.py
*.log
ubuntu@*
/staticfiles**
/static
/.ipynb_checkpoints/
/.git/
notes
/wwu_spec/.secretkey.py
/mcz_library_ingest.ipynb
/mcz_library.zip
/static_in_pro/
/uwinn_ingest/All_UWinn_splits_070621/
current_ingest_errors.csv
db.zip
uwinn_split_ingest*csv
some_ids_missing.csv
/static_dev/sample_images
/uwinn_ingest/
/data/*.sqlite3
/data/*.sqlite3.gz
/data/*.csv
/data/backup/**
local_user_inventory.json
/csv_library/
/mastcamz_library/
