{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
  <title>Status - WWU VNIRSD</title>
  <div class="container section">
    <div class="col warm-content body-text-holder">
      <h4 style="margin-top: 0">WWU VNISRD Release Status</h4>
      <p>The VNISRD is in an early beta state. Please do not
      distribute links to the test server outside of your working
      group. Bug reports, feature requests, and instrument filter
      set submissions are all very welcome. Please send them
      directly by email to mstclair@millionconcepts.com.</p>
      <h4>near-term feature implementation plans</h4>
      <ul class="note-list">
        <li>none at present. Send feature requests!</li>
      </ul>
      <h4>known issues</h4>
      <ul class="note-list">
        <li>none at present. Send bug reports!</li>
      </ul>
      <h4>patch notes</h4>
      <h5>v0.34 (2020-02-16)</h5>
      <ul class="note-list">
        <li>improved format of export spectra</li>
        <li>simulated spectra are now exported in separate CSV
        files. They are exported along with lab spectra only from
        the graph view, only for the specific instrument you have
        selected, and only if you have the 'show lines' or 'show
        points' options toggled on for simulated spectra.</li>
        <li>new bulk / non-interactive export feature. You can send
        GET requests to /vnirsd/bulk_export and get zip files
        containing CSV in return. The request parser currently
        understands only three parameters: 'sample_name',
        'all_fields', and 'simulate'.
          <ul class="note-list">
            <li>Values for 'sample_name' search just names of
            samples</li>
            <li>Values for 'all_fields' search every metadata
            field</li>
            <li>'simulate' along with the short name for any of the
            filter sets currently implemented (same as the names in
            the simulation options dropdown in the graph view)
            causes the server to return simulated spectra along
            with lab spectra</li>
          </ul>These parameters should just be passed as query
          strings in the GET request. For example, running:
          <code>curl
          "35.153.144.188:8000/vnirsd/bulk_export/?sample_name=smectite&amp;simulate=Mastcam-Z"
          &gt; smectite.zip</code> should cause curl to write lab
          spectra for all smectites in the database + simulated
          versions of those spectra as viewed by Mastcam-Z to
          smectite.zip. This is currently quite permissive, so use
          caution if asking for broad categories like all spectra
          with metadata containing the letter 'a'. Thanks to Lucia
          Mandon for this suggestion.
        </li>
        <li>backend changes in preparation for open beta
        release</li>
      </ul>
      <h5>v0.33 (2020-12-31)</h5>
      <ul class="note-list">
        <li>major changes to graph controls layout</li>
      </ul>
      <h5>v0.32 (2020-12-29)</h5>
      <ul class="note-list">
        <li>improved display of calculation and normalization
        status</li>
        <li>fixed a bug related to calculation focus clipping</li>
        <li>added wavelengths range selection to search page</li>
        <li>minor layout and cosmetic changes in graph</li>
      </ul>
      <h5>v0.31 (2020-12-24)</h5>
      <ul class="note-list">
        <li>fixed a bug related to simultaneous band depth
        calculations on multiple spectra.</li>
        <li>fixed an issue related to focus snapping.</li>
        <li>made normalization behaviors clearer and more
        consistent.</li>
        <li>less drawing</li>
      </ul>
      <h5>v0.3 (12/21/2020)</h5>
      <ul class="note-list">
        <li>new behavior for 'normalize-to-wavelength' option.
        Instead of clicking on the graph, you may now enter a
        target wavelength in the box next to the 'wavelength'
        switch in the control panel.</li>
        <li>pan and zoom are now retained when spectra are switched
        off and on, simulation options are changed, or
        normalization states are changed. 'reset window,' as
        before, will always center the rendered spectra in their
        current state, should you normalize yourself into a corner
        of the plane with nothing in it.</li>
        <li>new option to perform calculations on all spectra
        simultaneously</li>
        <li>numerous under-the-hood changes to enable
        futureproofing, extensibility, and bugfixes</li>
        <li>improved pan and zoom behavior from both mouse and
        window-control widgets</li>
        <li>fixed a bug related to point selection at the
        right-hand ends of spectra</li>
        <li>fixed issues related to instrumentalized vs. lab
        spectra selection ambiguities</li>
        <li>visual feedback added for normalization states</li>
        <li>many edge cases and ambiguities in calculation behavior
        resolved</li>
      </ul>
      <h5>v0.24 (12/14/2020)</h5>
      <ul class="note-list">
        <li>various optimizations for improved stability,
        performance, and fault tolerance</li>
      </ul>
      <h5>v0.23 [closed beta release] (12/11/2020)</h5>
      <ul class="note-list">
        <li>added features for verbose display of object names and
        citations</li>
        <li>fixed several bugs / unwanted behaviors wrt null or
        malformed requests</li>
        <li>removed entries of inaccessible databases from search
        dialogs</li>
        <li>assorted text / text display changes</li>
      </ul>
      <h5>v0.22 (12/10/2020)</h5>
      <ul class="note-list">
        <li>added 'status' page for patch notes, known issues,
        feature implementation roadmap</li>
        <li>feature added to enable arbitrary ordering of
        filtersets in simulation dropdown</li>
        <li>urls / citations added for spectra databases and
        filtersets</li>
        <li>general cleanup of remote js library and font sources,
        and partial transition to locally-cached versions (reduced
        page load times, increased stability, etc.)</li>
        <li>fixed bug in graphing / exporting / etc. from ‘select
        all’ lists</li>
        <li>removed autocomplete feature in search interface</li>
        <li>narrowed navbar (globally) and restored it to graph
        view</li>
        <li>changed 'roverize' to 'instrumentalize'</li>
        <li>changed default display options to lab lines +
        instrumentalized points</li>
        <li>created distinct visibility controls for lab lines, lab
        points, instrument lines, instrument points</li>
        <li>changed visual characteristics of graph points and
        lines</li>
        <li>changed graph line palette</li>
        <li>rounded all calculations and reflectance values to
        &lt;= 3 values after the decimal</li>
        <li>increased axis tick and label font size</li>
        <li>general graph control layout changes + compression</li>
        <li>added features for restricting newly-added spectra to
        superusers prior to review</li>
        <li>fixed a bug related to inappropriately flexible search
        results from some spectra sources</li>
      </ul>
      <h5>v0.21 (12/8/2020)</h5>
      <ul class="note-list">
        <li>added custom libraries to sample search and the admin
        interface</li>
        <li>fixed a bug related to propagation of model choice
        fields into search results</li>
        <li>various small bugfixes and assorted cleanup
        changes</li>
      </ul>
      <h5>v0.2 (2/7/2020)</h5>
      <ul class="note-list">
        <li>Changes from items discussed in 2/3 meeting</li>
        <li>Added handling for uploaded files with multiple
        reflectance columns</li>
        <li>Changed search to interpret multiple-word queries more
        loosely</li>
        <li>For instance, the query 'basalt glass' in the sample
        name field returns all entries containing either 'basalt'
        OR glass in their sample name field UNLESS a sample exists
        with the exact sample name basalt glass'</li>
        <li>Buggy buttons in results page fixed</li>
        <li>turning on simulated spectrum now continues to display
        lab spectrum by default (can still be toggled off)</li>
        <li>Changed visual design of simulated spectra for improved
        legibility in this mode</li>
        <li>'Show points' mode active by default</li>
        <li>added tool to normalize all curves to 1 at a given
        wavelength</li>
        <li>(workflow: switching it on reveals an 'arm selection'
        switch, which also be switched on to a normalization
        wavelength. Without this secondary mode, it becomes
        extremely irritating to try to do calculations &amp;c in
        wavelength normalization mode)</li>
        <li>All calculations are constrained to operate only on a
        single spectrum. User attempts to place calculation anchors
        on separate spectra are ignored</li>
        <li>Simple band depth calculator rewritten. Now two
        modes:</li>
        <li>Automatically finds local minimum</li>
        <li>calculates band depth at point selected by user</li>
        <li>filter sets added: Pathfinder IMP, MER PANCAM,
        Mastcam-Z, Landsat OLI</li>
        <li>Added functionality for dynamically switching filter
        sets for simulations</li>
        <li>All filtersets now also save simulated spectra with no
        illumination (i.e., illumination = 1, reflectance =
        radiance at all points)</li>
        <li>'Locator line’ changed to 'vertical line'</li>
        <li>Redesign of entire site in WWU identity colors</li>
        <li>the only elements drawn with colors outside of the
        identity color palette are simulated spectra</li>
        <li>Redesigned about page</li>
      </ul>
      <h5>v0.1 (1/31/2020)</h5>
      <ul class="note-list">
        <li>First release of major application redesign.</li>
        <li>updated to python 3.x / django 3.x. Backend changes
        related to update not specified here in detail.</li>
        <li>Extensively refactored Python and JS code for
        maintainability and extensibility. Individual changes too
        numerous to list.</li>
        <li>Broad visual redesign.</li>
        <li>replaced postgreSQL with SQLite (more maintainable,
        portable, and performant for small database size with few
        concurrent users)</li>
        <li>Altered all existing database models; changes included
        fields inappropriately referring to 'mineral' properties to
        'sample' or 'material' as appropriate</li>
        <li>improved behavior of autocomplete dialogs</li>
        <li>mass sample type flagging actions replaced with broader
        mass editing functionality</li>
        <li>added image upload and processing functionality</li>
        <li>added associated image download and display
        functionality</li>
        <li>improved upload input processing and UX</li>
        <li>added capability to insert filter sets and illumination
        conditions into database</li>
        <li>added tools for simulating spectra viewed through
        filter sets under specified illumination conditions</li>
        <li>added 'reset zoom' button in graph view</li>
        <li>added 'shrink' button in graph view for more working
        space</li>
        <li>improved scrolling and zoom behavior in graph view</li>
        <li>Fixed various bugs related to widget positioning in
        graph view</li>
        <li>Redesigned control interface and layout of graph view
        for improved usability and accessibility</li>
        <li>fixed a bug related to graph boundary setting when
        graphing multiple spectra</li>
        <li>added calculators for simple band depth, ratio, and
        slope in graph view</li>
        <li>added option to drop multiple vertical lines in graph
        view</li>
        <li>added option to linearly peak-normalize spectra to 1 in
        graph view</li>
        <li>added option to y-offset spectra in graph view</li>
        <li>added user-facing bulk-upload capability</li>
        <li>advanced search replaced with 'any' field</li>
        <li>results view redesigned to reduce amount of data
        presented to users for improved readability and
        navigation</li>
      </ul>
    </div>
  </div>
{% endblock %}
