{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

<meta charset="utf-8">

<div class="container section" id="content" style = "width: 70%; max-width:1000px">
        <form class="warm-content" action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
            <div class="active center warm-content" style = "height:40px;padding:10px;border-bottom:solid thin #667986">
                <span class="head">
                  Sample Upload Tool
                </span>
              </div>
                  <div class="container warm-content">
                    <div class="row" style="padding: 20px">
	                    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
	                   	<label>

						{% csrf_token %}
        	
			            {{ form.file }}
			sampl        	</label>
                        </form>
			        </div>
                  </div>
			        <div class="row" style="width: 50%; margin: auto; text-align: center;padding-bottom: 15px; margin-bottom:20px; border-bottom: thin solid #667986">
			            <input type="submit" class = "btn" value="Upload" />
			        </div>
			    	</form>	

			    	<div style="padding-bottom: 20px">
			    		<b>
			    		{% if unsuccessful %}
			    		{{unsuccessful|length}}
			    		 sample(s) did not upload successfully.
			    		{% endif %}
			    		{% if successful %}
			    		{{successful|length}}
			    		 samples uploaded successfully.
			    		{% endif %}
			    	</b>


			    		{% if upload_errors %}
				        {% for upload_error in upload_errors %}
				        <ul>{{upload_error}}</ul>
				        {% endfor %}
				        {% endif %}

				        {% if unsuccessful %}

				        <p><b>The following sample(s) did not upload successfully.</b></p>
				        {% for sample in unsuccessful %}
				    	<ul><b>{{sample.filename}}</b></ul>
				    	<ul>{{sample.errors}}</ul>
				        {% endfor %}
				        {% endif %}

				        {% if successful %}
				        <p><b>The following sample(s) uploaded successfully.</b></p>
				        {% for sample in successful %}
				        <ul><b>{{sample.filename}}</b> uploaded as {{sample.sample.sample_id}}</ul>
				        {% if sample.sample.import_notes %}
				        <ul>{{sample.import_notes}} {% endif %} {% if sample.sample.image %} with {{sample.sample.image}}</ul>
				        {% endif %}
				        {% endfor %}
				        {% endif %}
				    </div>
                </div>






{% endblock %}