{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="" style="background-size:cover">
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/condragulations.js' %}"></script>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">

    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/filterwheel.png' %}"/>


</head>
<body>
<!-- Navbar -->
<form id="nav-form" method="GET" name="nav-form">
<nav class="nav">
    <div class="container">
        <button class="btn invisible-btn" type="submit" name="searchnavbutton" formaction="/visor/search">
            Search
        </button>
        <button class="btn invisible-btn" type="submit" formaction="/visor/status">
            Status
        </button>
        <button class="btn invisible-btn" type="submit" formaction="/visor/about">
            About
        </button>
        <ul id="nav-mobile" class="right hide-on-small-and-down" style="list-style-type: none">
            {% if user.is_authenticated %}
                <li><a href="/visor/upload">Upload</a></li>
                <li><a href="/admin/login">Admin</a></li>
                <!-- <li><a href="/logout">Log Out</a> -->
            {% else %}
                <li><a href="/admin/login">Admin</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
</form>
<div id="title">
    {% block title %}{% endblock %}
</div>
<div id="inventory-container"
     style="position: absolute;
     z-index: 9999; top: 80vh; left: 0.1vw; background: aliceblue">
    <div id="inventory-handle" style="background: #667986; color: white; height:3rem">
    <span id="inventory-title" class="draggable-title" style="font-size: 2rem">inventory</span>
    </div>
    <form id="inventory-form">

    <div id="inventory-content" style="display: none; margin-left: 1rem; margin-right: 1rem; width: 45rem">
                <div id="inventory-items">
                    <table>
                        <tbody id="inventory">

                        </tbody>
                    </table>
                </div>
            <div class="inventory-controls" style="margin-top: 0.8rem">
                <div class="section center-align">
                    <button type="submit" name="graph"
                            formaction="/visor/graph/"
                            class="btn inventory-action">Graph
                    </button>
                    <button type="submit" name="export"
                            formaction="/visor/export/"
                            class="btn inventory-action">Export
                    </button>
                    <button type="submit" name="meta"
                            formaction="/visor/meta/"
                            class="btn inventory-action">Metadata
                    </button>
                    <button id="inventory-drop-selected" onclick="dropSelected()"
                        class="btn inventory-action" type="button">Drop Selected
                    </button>
                    <button id="inventory-drop-all" onclick="dropAll()"
                            type="button" class="btn inventory-action"
                            style="background: orangered">Drop All
                    </button>
                </div>
            </div>
    </div>
    <input type="hidden" name="inventory-record" value="">
    </form>
</div>

{% if sample_json %}
<script>
    const samples = JSON.parse('{{sample_json|safe | escapejs}}')
</script>
{% endif %}

{#insert actual page content#}
{% block content %}{% endblock %}

{#set up inventory management#}
<!--suppress JSVoidFunctionReturnValueUsed -->
<script>
    const inventory = gid("inventory")
    const inventoryBoxes = gen("inventory-selection")

    loadListen(checkInventory)
    document.addEventListener("DOMContentLoaded", function() {
        makeDraggable("inventory-handle", "inventory-container")
        makeHider("inventory-handle", "inventory-content")
    });
</script>
</body>
</html>
