.graph-legend {
    width: 100%;
    border: 0;
    overflow: visible;
    border-collapse: collapse;
    white-space: normal;
    word-wrap: break-word;
    /* min-width: 1200px */
}

table.graph-legend {
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    align-items: stretch;
    height: fit-content;
}

.graph-legend tr {
    display: flex;
    align-items: stretch;
}

.graph-legend td, th {
    flex-grow: 1;
    flex-shrink: 1;
    display: block;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px
}

.graph-legend th {
    height: 25px;
}

/*.graph-legend td {*/
/*    padding-bottom:0.1rem;*/
/*    padding-top:0.1rem*/
/*}*/

.graph-legend thead {
    width: 100%;
    position: sticky;
    top: 0;
    background:#e3e7e9;
    z-index: 10;
}

.graph-legend tbody {
    width: 100%;
}

.graph-legend tbody {
    display: inline;
    overflow-y: auto;
}

.graph-legend .graph-column {
    flex: 0;
}

.graph-column div {
    position: relative
}

td.graph-column, th.graph-column {
    padding-right: 2rem
}

.graph-legend .graph-col {
    width: 100%;
    width: calc((100% - 110px) / 7);
}

.graph-legend .graph-col-small {
    width: 100%;
    max-width: 55px;
}

.graph-legend .graph-col-med {
    width: 100%;
    max-width: 80px;
}

.imgContainer {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.flex-buffer {
    display: flex;
    flex-shrink: 1;
    flex-grow: 0
}

.card.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

.controls {
    border-top: thin solid gray;
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

.control-section {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.control-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 2rem;

}

.control-block form,
.control-block select {
    display: flex
}

.control-block input[type="radio"] + label,
.control-block .switch {
    height: fit-content;
    min-height: 1.9rem
}

.control-header {
    font-size: 12pt;
    font-weight: bold;
    align-self: center;
    margin-bottom: 0.8rem
}

.control-block .switch {
    display: flex
}
