.results {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: normal;
    word-wrap: break-word;
    line-height: 1em;
}

.results table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    overflow: visible;
    white-space: pre-line;
    word-wrap: break-word;
    line-height: 1em;
}

.results tr {
    display: flex;
}

.results td, th {
    align-self: flex-start;
    display: block;
}

.results th {
    flex-grow: 1;
    flex-shrink: 1;
    width: auto;
}

.results td {
    width: 65px;
    flex-grow: 0;
    flex-shrink: 0
}

.results .results-column {
    text-align: left;
    width: 50%;
    max-width: 200px;
}

.results tbody {
    width: 100%;
    display: inline;
    overflow-y: auto;
    height: calc(80vh - 200px);
}

/* Makes results-per-page button shorter to better fit layout */
.btn.updateBtn {
    height: 25px;
    line-height: 12px;
    font-size: 10pt;
}

/* Style changes to results page; addition of view geo column caused text overflow issues, so word-wrap was requested */
.res-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    min-width: 750px;
}

.res-table th,
.res-table td {
    box-sizing: border-box;
    padding: 8px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    min-height: 40px;
}
.res-table th:first-child, 
.res-table td:first-child {
    width: 40px;
}
.res-table th:not(:first-child), 
.res-table td:not(:first-child) {
    width: calc((100% - 40px) / 7);
}

.results-table-container {
    width: 100%; 
    padding-left: 15px; 
    padding-right: 15px;
    overflow-x: auto;
}
