/*overriding materialize*/
ul:not(.browser-default) {
    padding-left: inherit;
    list-style-type: inherit;
}

.note-list ul {
    list-style-type: circle;
}

label {
    color: #1c2023;
    font-size: 0.9rem
}

a {
    color: #007ac8;
    opacity: 1;
}

.warm-content {
    background: #f5f6f7;
}

.truncate {
    overflow: visible;
    white-space: pre-line;
    word-wrap: break-word;
    line-height: 1em;
}

html {

    font-family: "Fira Mono", sans-serif;
    background: #003f87;
    color: #1c2023;
}

.container {
    width: 98%;
}

.result_column {

    text-align: left;
    width: 50%;
    max-width: 200px;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #007ac8;
}

.graph-card {
    background: #e6ecf3;
}


.noUi-horizontal, .noUi-handle, .noUi-vertical, .noUi-connect, .noUi-horizontal {
    background-color: #007ac8 !important
}

.noUi-base {
    background-color: #003f87;
}

.switch label .lever {
    background-color: #667986;
}

.switch label .lever:after {
    background-color: #ffffff;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #667986;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #007ac8;
}

.brightswitch label .lever {
    background-color: #006b3f;
}

.brightswitch label .lever:after {
    background-color: #bad80a;
}

.brightswitch label input[type=checkbox]:checked + .lever {
    background-color: #006b3f;
}

.brightswitch label input[type=checkbox]:checked + .lever:after {
    background-color: #d6e86c;
}


input[type=number] {
    background-color: white;
    border: 1px solid;
    border-radius: 0;
    outline: none;
    height: 1.5rem;
    width: 60%;
    font-size: 1rem;
    margin: 0 0 5px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    text-align: center;
}

input[type="radio"]:not(:checked) + label,
input[type="radio"]:checked + label {
    font-size: 0.9rem;
    height: 35px;
    line-height: 20px;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
    background-color: #007ac8;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
    border: 2px solid #007ac8;
}

.btn {
    background-color: #007ac8
}


.btn:hover {
    background-color: #63c2ff
}

.graphButton {
    height: 26px;
    line-height: 26px;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0 1rem;
    font-size: 10pt;
    background-color: #007ac8;
}

.redButton {
    background-color: #006b3f;
}


.graphButton:hover {
    background-color: #63c2ff;
}

.redButton:hover {
    background-color: #d6e86c;
}

[type="checkbox"]:checked + label:before {
    color: #007ac8;
    border-right: 2px solid #007ac8;
    border-bottom: 2px solid #007ac8;
}

.sampleImage {
    max-width: 625px;
    height: auto;
}

nav {
    background: #667986;
    height: 2rem;
    line-height: 2rem;
}

nav ul a {
    color: #f5f6f7;
}

.pagination li.active {
    background: #006b3f
}

td, th {
    max-width: 175px;
    white-space: normal;
}

th {
    height: 75px;
}


.results {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: normal;
    word-wrap: break-word;
    line-height: 1em;
}

.results table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    overflow: visible;
    white-space: pre-line;
    word-wrap: break-word;
    line-height: 1em;
}

.results tr {
    display: flex;
}

.results td, th {
    flex-grow: 1;
    flex-shrink: 1;
    align-self: flex-start;
    display: block;
    width: auto;
}

.results tbody {
    width: 100%;
    display: inline;
    overflow-y: auto;
    height: calc(80vh - 200px);
}

.results th {
    width: 100%
}


.graph td, th {
    max-width: 160px;
}

.graph th {
    width: auto;
}


.imgContainer {
    width: 100%;
    padding-top: 100%;
    position: relative;
}
