table {
  width: 100%;
  height: 65%;
  }

  thead, tbody, tr, td, th { display: block; }

  tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }

  thead th {
    display:table-header-group;
    height: 30px;
  }

  tbody {
    height: 65vh;
    overflow-y: auto;
  }

  thead {

  }

  tbody td, thead th {
    float: left;
  }
